/* FONTS */
/* Manrope(NAV) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* BASE CSS */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body{
    font-family: "Manrope";
}

*{
margin:0px;
padding:0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

input, button {
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* RE-USABLE CSS */
.section-heading-font-large{
    font-size: 60px;
    font-weight: 800;
}

.section-heading-font-small {
    font-size: 50px;
    font-weight: 800;
}

.section-left-right-padding {
    padding: 2% 8%;
}


/* 1ST ABOVE-FOLD-SECTION  */
.above-fold{
    height: 830px;
    background-color: #f5f6f8;
}

.above-fold .navigation-header{
    height: 85%;
    background: linear-gradient(to right, #C9E7F2,#62BADA);
    overflow: hidden;
}

.above-fold .navigation-header .container .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.above-fold .navigation-header .container .navigation span.logo{
    font-family: "Manrope";
    font-size: 20px;
    font-weight: 800;
}

.above-fold .navigation-header .container .navigation .nav{
    display: flex;
    flex-direction: row;
    gap: 23px;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 500;

}

.navigation ul li{
    display: inline-block;
    position: relative;
}

.navigation ul li ul.sub-nav li{
    display: block;
    padding: 0px 8px;
}

.navigation ul li ul.sub-nav{
    width: 100px;
    background-color: white;
    position:  absolute;
    border-radius: 2px;
    z-index: 999;
    display: none;
}

.navigation ul li ul.sub-nav li:hover{
    background-color: #f5f6f8;
}

.navigation ul li:hover ul.sub-nav {
    display: block;
}

.navigation .sign-in{
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 500;
}

.navigation .sign-in span:first-child{
    padding-right: 35px;
}

.navigation .sign-in span:last-child{
    background-color: #4F46BA;
    color: white;
    padding: 10px 28px;
}

.above-fold .navigation-header .container .header{
    display: flex;
    justify-content: space-evenly;
}

.above-fold .navigation-header .container .header .header-content{
    margin-top: 85px;
}

.above-fold .navigation-header .container .header .header-content p{
    font-size: 20px;
    font-weight: 400px;
    margin-top: 30px;
}

.above-fold .navigation-header .container .header .header-image img{
    height: 80%;
}

.above-fold .navigation-header .container .header .header-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.above-fold .navigation-header .container .header .header-buttons button{
    margin-top: 10px;
    background: #3734A9;
    color: white;
    padding: 20px 32px;
    font-size: 18px;
    border-radius: 30px;
}

.above-fold .navigation-header .container .header .header-buttons .see-how-it-works{
    display: flex;
    align-items: center;
    gap: 5px;
    color:#3734A9 ;
    font-size: 20px;
}

.above-fold .navigation-header .container .header .header-buttons .see-how-it-works i{
    color:#22D497 ;
    font-size: 50px;
}

.above-fold .navigation-header .container .header .check-section{
    margin-top: 30px;
    display: flex;
    gap: 25px;
    color: #757095;
    font-size: 20px;
;
}

.above-fold .navigation-header .container .header .check-section i{
    margin-right: 10px;
    color: #3734A9;
}

.above-fold .companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 80px;
    font-family: "Manrope";
    font-weight: 600;
}

.above-fold .companies .companies-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.above-fold .companies .companies-logos img{
    height: 20px;
}

/* 2ND SERVICES AND TESTIMONIAL SECTION */

.service-testimonial .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.service-testimonial .header{
    width: 50%;
    
}

.service-testimonial .header p{
    margin-top: 5px;
    font-weight: 600;

}

.service-testimonial .testimonial {
    width: 35%;
    background: #eaebed;
    font-weight: 600;
    padding: 30px 25px;
    border-radius: 20px;
}

.service-testimonial .testimonial p{
    margin-top: 10px;
}

.service-testimonial img {
    position: absolute;
    right: 490px;
    top: 30px;
    height: 50px;
}


/* 3RD SECTION HOW IT WORKS */
.how-it-works-section .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.how-it-works-section .one, .how-it-works-section .two, .how-it-works-section .three{
    border: 1px solid #DBE4E9;
    border-radius: 15px;
    padding: 50px 50px 20px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.how-it-works-section .one span:nth-child(1), 
.how-it-works-section .two span:nth-child(1), 
.how-it-works-section .three span:nth-child(1) {
    position: absolute;
    font-weight: 800;
    font-size: 22px;
    left: 15px;
    top: 15px;
}
.how-it-works-section img {
    height: 50px;
    width: 50px;
}
.how-it-works-section .title {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

.how-it-works-section .decription{
    font-weight: 400;
    text-align: center;
}

.hext{
    font-size: 30px;
    font-weight: 800;
}


/* 4TH WHY CHOOSE US */

.why-choose-us .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}

.why-choose-us .transections{
    background: #dcf2fb;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    width: 40%;
    position: relative;
    border-radius: 20px;
    /* overflow: hidden; */
}

.why-choose-us .transecton {
    background: white;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 10;
    border-radius: 5px;
    width: 410px;
    padding: 8px 13px;
    box-shadow: 10px 10px 15px rgba(95, 95, 95, 0.3);
}

.why-choose-us .transecton:nth-child(1) {
    margin-left: 30px
}

.why-choose-us .transecton:nth-child(2)  {
    margin-left: 120px
}

.why-choose-us .transecton:nth-child(3) {
    margin-left: 80px
}

.why-choose-us .transecton img{
    border-radius: 100%;
    width: 40px;
}

.why-choose-us .detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.why-choose-us .detail span:first-child {
    color: #3734A9;
    background: #ebebf6;
    font-weight: 600;
    padding: 5px 7px;
    width: 100px;
    border-radius: 15px;
}

 .why-choose-us .detail span:last-child {}

.why-choose-us .background-blue-circle,
.why-choose-us .background-blue-light-circle,
.why-choose-us .background-red-circle{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100px;
}

.why-choose-us .background-red-circle {
    border-top-left-radius:15px;
    left: 0px;
    top: 0px;
}

.why-choose-us .background-blue-light-circle{
    border-bottom-left-radius: 15px;
    bottom: 0px;
    left: 0px;
}

.why-choose-us .background-blue-circle {
    top: 150px;
    right: 0px;
}

.why-choose-us .header{
    width: 45%;
}

.why-choose-us .header > span {
    color: #3734A9;
    font-weight: 700;
    font-size: 14px;    
}

.why-choose-us .header>h1 {
    font-weight: 800;
    font-size: 50px;
}

.why-choose-us .header>p {
    font-weight: 400;
    font-size: 18px;
    color: #505887;
    margin-top: 15px;
}

.why-choose-us .header>hr{
    border: 0;
    height: 3px;
    background-color: #C4C4C4;
    margin: 20px 0;
}

.why-choose-us .services-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #505887;
}
.why-choose-us .services-list i{
    color: #FDBC64;
    padding-right: 10px;
    font-size: 19px;
}

/* 4TH SECTION WHY CHOOSE US NEW SECTION */

.why-choose-us-section .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.why-choose-us-section .header-parent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    position: relative;
}

.why-choose-us-section .header-parent>span {
    color: #3734A9;
    font-weight: 700;
    font-size: 14px;
}

.why-choose-us-section .header-parent>h1 {
    font-weight: 800;
    font-size: 50px;
}

.why-choose-us-section .header-parent>p {
    font-weight: 400;
    font-size: 15px;
    color: #505887;
    margin-top: 15px;
}

.why-choose-us-section .image-section {
    width: 40%;
}


.why-choose-us-section .testimonial {
    margin-top: 50px;
    width: 100%;
    background: #eaebed;
    font-weight: 600;
    padding: 30px 25px;
    border-radius: 20px;
    position: relative;
}

.why-choose-us-section .testimonial p {
    margin-top: 10px;
}

.why-choose-us-section .header-parent img {
    position: absolute;
    top: -25px;
    height: 50px;
}

.why-choose-us-section .image-section{
    position: relative;
}

.why-choose-us-section .image-section img {
    position: absolute;
}

.why-choose-us-section .image-section .rectangle-bg{
    height: 416px;
    z-index: 10;
}

.why-choose-us-section .image-section .hand{
    height: 520px;
    top: -105px;
    z-index: 11;
}

.why-choose-us-section .image-section .total-balance{
    height: 320px;
    left: -130px;
    bottom: -120px;
    z-index: 12;
}

.why-choose-us-section .image-section .marker-lines{
    height: 80px;
    top: 50px;
    left: 20px;
    z-index: 13;
}


/* FEATURE SECTION */
.features-section{
    background-color: #C9E7F2;
}

.features-section .container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.features-section .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features-section .header h1{
    font-size: 71px;
    font-weight: 800;
}

.features-section .header p {
    font-size: 16px;
    font-weight: 400;
}

.features-section .features {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.features-section .feature-1,
.features-section .feature-2{
    background: white;
    border: #ABC8D2 1px solid;
    border-radius: 10px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-section img {
    height: 50px;
    width: 50px;
}

.features-section .title {
    font-weight: 800;
    font-size: 22px;
}

.features-section .decription {
    font-weight: 400;
}

.features-section .feature-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.features-section .feature-3 div{
    border: white 1px solid;
    border-radius: 10px;
    background-color: white;
    padding: 45px 30px;
}

/* Status section */

.status-section{
    background-color: #3734A9;
}

.status-section .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-section .left-text{
    font-size: 19px;
    font-weight: 400;
    color: white;
    /* border-right: #3D3D3D 2px solid; */
}

.status-section h1{
    font-size: 72px;
    font-weight: 800;
    color: white;
}

.status-section span {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.status-section span i{
    color: #B1CA16;
    padding-right: 15px;
    font-size: 25px;
}

/* BLOG SECTION */
.blog-section{
    background-color: #fafbff;
}

.blog-section .container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.blog-section .featured-blog img{
    height: 285px;
}

.blog-section .more-blog img{
    height: 202px;
}


.blog-section h5 {
    font-size: 16px;
    font-weight: 700;
}

.blog-section h2 {
    font-size: 29px;
    font-weight: 700;
}

.blog-section h1{
    font-size: 71px;
    font-weight: 800;
}

.blog-section .featured-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.blog-section .featured-blog .header{
    padding: 40px;
}

.blog-section .featured-blog .header div{
    padding-top: 75px;
}

.blog-section .more-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}

.blog-section .more-blog div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    background-color: white;
}

.blog-section .more-blog div div{
    padding: 40px;
}
/* FAQ SECTION */
.faq-section .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.faq-section h1{
    font-size: 71px;
    font-weight: 800;
    line-height: 76px;
}

.faq-section .faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.faq-section .faq-q-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
}

.faq-section .faq-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: #CFCFCF 1px solid;
    padding: 20px 20px;
    border-radius: 10px;
    position: relative;
}

.faq-section .faq-detail h2{
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
}

.faq-section .faq-detail p{
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

.faq-section .faq-detail i{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
}

.faq-section .ask-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: #CFCFCF 1px solid;
    width: 35%;
    border-radius: 10px;
    padding: 0px 38px;
    padding-top: 67px;
    padding-bottom: 15px;
}

.faq-section .ask-faq .ask-faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.faq-section .ask-faq .ask-faq-header i{
    font-size: 67px;
}


.faq-section .ask-faq button{
    width: 100%;
    background: #FF7F5C;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 31px;
}



/* GET STARTED SECTION */
.get-started-section{
    background-color: #3734A9;
    color: white;
}
.get-started-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}

.get-started-section h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 61px;
    text-align: center;
}

.get-started-section span {
    background-color: #FF7F5C;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding: 15px 35px;
    border-radius: 10px;
}

.get-started-section img{
    position: absolute;
}

.get-started-section .pattern-d-1{
    bottom: 40px;
    left: 100px;
    height: 85px;
}
.get-started-section .pattern-d-2{
    top: 25px;
    left: 350px;
    height: 120px;
}
.get-started-section .pattern-d-3 {
    bottom: 80px;
    left: 350px;
    height: 55px;
}
.get-started-section .pattern-d-4{
    top: 80px;
    right: 200px;
    width: 90px;
}
.get-started-section .pattern-d-5 {
    bottom: 40px;
    right: 80px;
    height: 90px;
}


/* FOOTER SECATION */
.footer-serction .container{
    display: flex;
    flex-direction: column;
}

.footer-serction .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
}

.footer-serction .company-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-serction .footer h2{
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
}

.footer-serction .footer p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #757095;
}

.footer-serction .footer .social{
    color: #3734A9;
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.footer-serction .links,
.footer-serction .resources{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-serction .links h3,
.footer-serction .resources h3,
.footer-serction .newsletter h3{
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #181433;
}

.footer-serction .links span,
.footer-serction .resources span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #757095;
}

.footer-serction .newsletter {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-serction .newsletter input{
    height: 52px;
    width: 250px;
    background: #EEEEFF;
    padding-left: 20px;
    color: #181433;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.footer-serction .newsletter button{
    background: #3734A9;
    color: white;
    padding: 13px 50px;
    height: 52px;

}

.footer-serction .copy-right{
    border-top: #E5E5EA 2px solid;
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-weight: 16px;
    line-height: 26px;
    color: #181433;
}